:root {
    font-size: 16px;
    font-family: "Share", sans-serif;
    --text-primary: #333;
    --text-secondary: #666;
    --bg-primary: #f4f4f4;
    --bg-secondary: #fff;
    
}

body {
    color: yellowgreen;
    background-color: darkgreen;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
 
body::-webkit-scrollbar-track {
    background: #606C38;
}

body::-webkit-scrollbar-thumb {
    background: #FEFAE0;

}
main {
    margin-left: 5rem ;
    padding: 1rem;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display:flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7) hue-rotate(180deg);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1) hue-rotate(0deg);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-primary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.slider{
    width: 100%;
    border: 1px solid #ff0000;
    height: var(--height);
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;

}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Small Screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vh;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

}